{% assign foot = site.footer %}
<footer class="footer" id="footer">
    
    <div class="footer-top">
        <div class="container">
          <div class="row">  
            <div class="col-md-4 footer-contact">
              <h3><img src="{{ site.logo}}" alt="{{site.title}}" > </h3>
              <p>
               {{foot.about}}
              </p>
              {% if foot.social.enable%}
              <div class="social-links mt-3">
                {% for socials in site.social.items %}
                    <a href="{{socials.link}}" title="{{socials.title}}" class="{{socials.title}}"><i class="{{socials.icon}}"></i></a>
                {% endfor %}
              </div>
              {% endif %}
            </div>
  
            <div class="offset-md-2 col-md-3 footer-links mt-4 mt-sm-0">
              <h4>{{ foot.leftcolHeading }}</h4>  
                <ul class="foot-link">      
                {% for leftlinks in foot.leftcol %}
                    <li><a href="{{leftlinks.link}}">{{leftlinks.text}}</a></li>
                {% endfor %}
                </ul>
              
            </div>
  
            <!-- <div class="col-lg-1 offset-lg-1 col-md-6 footer-links mt-4 mt-sm-0">
                <h4>{{ foot.centercolHeading }}</h4>  
                <ul class="foot-link">      
                {% for leftlinks in foot.centercol %}
                    <li><a href="{{leftlinks.link}}">{{leftlinks.text}}</a></li>
                {% endfor %}
                </ul>
            </div> -->
  
            <div class="col-md-3 footer-links mt-4 mt-sm-0">
                <h4>{{ foot.rightcolHeading }}</h4>  
                <ul class="foot-locations">      
                {% for leftlinks in foot.rightcol %}
                    <li>{{leftlinks.location}} <br>
                        {{leftlinks.address}}
                    </li>
                {% endfor %}
                </ul>
              
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container py-4 justify-content-center align-items-center">
        <div class="row copyright">
            <div class="col text-center pt-3">
                {{.site.footer.copyright}}

            </div>
        </div>
      </div>
</footer>