

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  header-transparent ">
    <div class="container-fluid  align-items-center justify-content-between">
    <nav class="navbar navbar-expand-sm" id="navbar" aria-label="Third navbar example">
    <div class="container-fluid">
      <div class="logo">
        {% if page.layout == default %}
        <h1><a href="#hero" class="navbar-brand scrollto"><img src="{{site.logo}}" alt="logo" class="img-fluid"></a></h1>
        {% else %}
         <h1><a href="/" class="navbar-brand scrollto"><img src="{{site.logo}}" alt="logo" class="img-fluid"></a></h1>
         {% endif %}
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
        <i class="bi bi-list"></i>
      </button>

      

      <div class="collapse navbar-collapse nav-outter" id="navbarsExample03">
        <ul class="navbar-nav m-auto mb-2 mb-sm-0">
            {% for item in site.data.menu.main %}
                        {% if item.child %}
                        <li class="dropdown">
                            <a href="{{ item.url }}"><span>{{ item.name }}</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                {% for childitem in item.child  %}
                                        <li><a href="{{ childitem.url }}">{{ childitem.name }}</a></li>
                                    {% endfor %}
                            </ul>
                        </li>
                             
                            {% else %}
                                <li class="nav-item {% if item.url == page.url %} active {% endif %} {% if item.border %} bod-left {% endif %}{% if item.button %} btn btn-light {% endif %}">
                               {% if page.layout == default %}
                               <a href="{{ item.url }}" class="nav-link">{{ item.name }}</a>
                               {% else %}
                                   {% if  item.pageType == "external" %}
                                       <a href="{{ item.url }}" class="nav-link">{{ item.name }}</a>
                                   {% else %}
                                   <a href="{{site.url}}/{{ item.url }}" class="nav-link">{{ item.name }}</a>
                                   {% endif %}
                               {% endif %}
                           </li> 
                        {% endif %}
                    {% endfor %}        
        </ul>
        

        <div class="right-nav">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                {% for item in site.data.menu.right %}
                            {% if item.child %}
                            <li class="dropdown">
                                <a href="{{ item.url }}"><span>{{ item.name }}</span> <i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    {% for childitem in item.child  %}
                                            <li><a href="{{ childitem.url }}">{{ childitem.name }}</a></li>
                                        {% endfor %}
                                </ul>
                            </li>
                                 
                                {% else %}
                                    <li>
                                        
                                     
                                {% if item.button  %}
                                    <a class="nav-link btn {{item.class}}" href="{{ item.url }}">{{ item.name }}</a>

                                {% else %}
                                <a class="nav-link scrollto {% if item.url == page.url %} active {% endif %}" href="{{ item.url }}">{{ item.name }}</a>
                                {% endif %}
                            </li> 
                            {% endif %}
                        {% endfor %}        
            </ul>

        </div>
      </div>
    </div>
  </nav>


    </div>
  </header><!-- End Header -->