
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.95);
  }
  #header.header-transparent {
    // background: transparent;
    background: #2a76df;
  }
  #header.header-scrolled {
    // background: rgba(255, 255, 255, 0.95);
    // background: #1B2E59;
    // background: rgba(255, 255, 255, 0.08);;
    background: #2a76df;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #header .logo h1 {
    font-size: 30px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
  }
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #5777ba;
    text-decoration: none;
  }
  #header .logo img {
    margin: 0;
    max-height: 34px;
  }
  
@import "navigation";
